<a href="https://colab.research.google.com/github/alisoufali/programming_with_python/blob/main/codes/Python_Bootcamp_Session_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dictionaries

In [ ]:
a = {"name": "Ali", "age": 26, "job": "data-scientist"}

In [ ]:
a["name"]

'Ali'

In [ ]:
a["age"]

26

In [ ]:
a = {"name": "Ahmad", "age": 26, "job": "data-scientist"}

In [ ]:
b = a.copy()

In [ ]:
b

{'name': 'Ahmad', 'age': 26, 'job': 'data-scientist'}

In [ ]:
a

{'name': 'Ahmad', 'age': 26, 'job': 'data-scientist'}

In [ ]:
b["name"] = "Ali"

In [ ]:
b

{'name': 'Ali', 'age': 26, 'job': 'data-scientist'}

In [ ]:
a

{'name': 'Ahmad', 'age': 26, 'job': 'data-scientist'}

In [ ]:
a = [1, 2, 3]

In [ ]:
for value in a:
    print(value)

1
2
3

In [ ]:
summation = 0

for index in range(3):
    summation = summation + 1

In [ ]:
summation

3

## String Formatting

In [ ]:
a = "My name is ali"

In [ ]:
name = "Ahmad"

introduction = "My name is {}".format(name)

print(introduction)

My name is Ahmad

In [ ]:
first_name = "Ali"
last_name = "Sufali"

introduction = "My name is {} {}".format(first_name, last_name)

print(introduction)

My name is Ali Sufali

In [ ]:
first_name = "Ali"
last_name = "Sufali"

introduction = "My name is {0} {1}".format(first_name, last_name)

print(introduction)

My name is Ali Sufali

In [ ]:
first_name = "Ali"
last_name = "Sufali"

introduction = "My name is {1} {0}".format(first_name, last_name)

print(introduction)

My name is Sufali Ali

In [ ]:
first_name = "Ali"
last_name = "Sufali"

introduction = "My name is {0} {0}".format(first_name)

print(introduction)

My name is Ali Ali

In [ ]:
first_name = "Ali"
last_name = "Sufali"

introduction = f"My name is {first_name} {last_name}"

print(introduction)

My name is Ali Sufali

In [ ]:
math_mark = 19.586353213231
physics_mark = 18.359

my_marks = f"My mathematics mark is: {math_mark:.2f} and my physics mark is: {physics_mark:.2f}"

print(my_marks)

My mathematics mark is: 19.59 and my physics mark is: 18.36

## Function

In [ ]:
def factorial(n):
    result = 1
    for value in range(1, n+1):
        result = result * value
    return result

In [ ]:
factorial(5)

120

In [ ]:
for number in range(1, 11):
    print(number, factorial(number))

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880
10 3628800

In [ ]:
for number in range(1, 11):
    result = 1
    for value in range(1, number+1):
        result = result * value
    print(result)

1
2
6
24
120
720
5040
40320
362880
3628800

In [ ]:
factorial(-1)

1

In [ ]:
def factorial1(n):
    result = 1
    for value in range(1, n+1):
        result = result * value
    return result

def factorial2(n):
    result = 1
    for value in range(1, n+1):
        result = result * value
    print(result)

In [ ]:
factorial1(5)

120

In [ ]:
factorial2(5)

120

In [ ]:
result1 = factorial1(5)

In [ ]:
result2 = factorial2(5)

120

In [ ]:
result1

120

In [ ]:
result2

In [ ]:
def some_function(c):
    result = c + a + b
    return result

In [ ]:
some_function(5)

NameError: ignored

In [ ]:
def calc_power_2(a):
    result = a ** 2
    return result

In [ ]:
calc_power_2(10)

100

In [ ]:
calc_power_2(5)

25

In [ ]:
def cal_power(a):
    result = a ** power
    return result

In [ ]:
power = 2

cal_power(10)

100

In [ ]:
power = 3

cal_power(10)

1000

In [ ]:
def calc_power_list(l):
    power = 4
    def cal_power(a):
        result = a ** power
        return result
    values = []
    for value in l:
        values.append(cal_power(value))
    return values

In [ ]:
calc_power_list([1, 2, 3, 4, 5, 6])

[1, 16, 81, 256, 625, 1296]

In [ ]:
def calculate_powered(number, power):
    result = number ** power
    return result

In [ ]:
def greet():
    print("Hello World!")

greet()

Hello World!

In [ ]:
def greet(name):
    print(f"Hello {name}")

greet("Ali")
greet("Hassan")

Hello Ali
Hello Hassan

In [ ]:
def greet(first_name, last_name):
    print(f"Hello {first_name} {last_name}")

greet(first_name="Ali", last_name="Sufali")

Hello Ali Sufali

In [ ]:
def add(a, b):
    result = a + b
    return result

In [ ]:
add(5, 10)

15

In [ ]:
r = add(1000, 555)

In [ ]:
print(r)

1555

In [ ]:
type(r)

int

In [ ]:
def add(a1, a2=0, *others):
    result = a1 + a2
    for value in others:
        result = result + value
    return result

In [ ]:
add(b=5, c=10, d=15, f=47)

TypeError: ignored

In [ ]:
def add(a1=0, a2=0, *args, **kwargs):
    print(args)
    print(kwargs)
    result = a1 + a2
    for arg_value in args:
        result = result + arg_value
    for kwarg_value in kwargs.values():
        result = result + kwarg_value
    return result

In [ ]:
add(1, 2, 3, 4, 5, 6, b=15, c=47, d=48)

(3, 4, 5, 6)
{'b': 15, 'c': 47, 'd': 48}

131

In [ ]:
def print_args_and_kwargs(*args, **kwargs):
    for i, arg in enumerate(args):
        print(f"Positional argument {i} is {arg}")
    for key, value in kwargs.items():
        print(f"Keyword argument {key} is {value}")

In [ ]:
print_args_and_kwargs(1, 2, 3, a=4, b=5, c=6)

Positional argument 0 is 1
Positional argument 1 is 2
Positional argument 2 is 3
Keyword argument a is 4
Keyword argument b is 5
Keyword argument c is 6

In [ ]:
def get_min_and_max(numbers):
    minimum_value = min(numbers)
    maximum_value = max(numbers)
    return minimum_value, maximum_value

In [ ]:
min_and_max_values = get_min_and_max(numbers=[5, 10, 15, 1500, 40, 37, -2])

In [ ]:
min_and_max_values

(-2, 1500)

In [ ]:
type(min_and_max_values)

tuple

In [ ]:
def greet(name):
    print(f"Hello {name}")

    if name.startswith("B"):
        return name

greet_result = greet(name="Ali")

Hello Ali

## Scope

In [ ]:
def my_function():
    a = "I am local"
    print(a)

In [ ]:
my_function()

I am local

In [ ]:
def my_function():
    print(a)

In [ ]:
a = "I am global man!"

In [ ]:
my_function()

I am global man!

In [ ]:
a = "I am global"

def my_function():
    a = "I am local"
    print(a)

my_function()
print(a)

I am local
I am global

In [ ]:
my_function()

I am global in local

In [ ]:
a = "I am global"

def my_function():
    global a
    a = "I am global in local"
    print(a)

my_function()
print(a)

I am global in local
I am global in local

In [ ]:
my_function()

I am local

In [ ]:
a

'I am global in local'

## Reading/Writting Files

In [ ]:
!pwd

/content

In [ ]:
!ls

data.txt  sample_data

In [ ]:
with open(file="data.txt", mode="rt") as data_file:
    data = data_file.readlines()
    number_lines = len(data)
    for line_index in range(number_lines):
        data[line_index] = data[line_index].replace("\n", "")
    data_file.seek(0)
    data2 = data_file.readlines()

In [ ]:
data

['my name is ali sufali.', 'my age is 26.']

In [ ]:
data2

[' ali sufali.\n', 'my age is 26.']

In [ ]:
with open(file="data.txt", mode="rt") as data_file:
    line = data_file.readline()
    print(line)

my name is ali sufali.

In [ ]:
with open(file="./sample_data/california_housing_train.csv", mode="rt") as file:
    data = file.readlines()

In [ ]:
data = data[1:]

In [ ]:
number_lines = len(data)

for index_line in range(number_lines):
    data[index_line] = data[index_line].replace("\n", "").split(",")

In [ ]:
for index_line in range(number_lines):
    line = data[index_line]
    number_values = len(line)
    for index_value in range(number_values):
        line[index_value] = float(line[index_value])

In [ ]:
text = """Imagine a world where technology seamlessly integrates with everyday life, enhancing our experiences and simplifying our tasks. As you wake up in the morning, your smart home system detects your movement and gradually adjusts the lighting and temperature to gently ease you into the day.
You make your way to the kitchen, where a voice-activated assistant greets you and offers suggestions for a healthy breakfast based on your dietary preferences. With a few simple commands, you instruct the assistant to prepare your favorite smoothie while providing you with the morning news updates.
As you head out for work, your autonomous electric car awaits, fully charged and ready to go. You settle into the comfortable seat, and the vehicle's advanced AI takes over, navigating through traffic and optimizing the route based on real-time data. Meanwhile, you use the car's integrated virtual reality system to catch up on a virtual meeting with colleagues from around the world.
Arriving at the office, you step into a workspace equipped with augmented reality (AR) technology. With a pair of smart glasses, you effortlessly collaborate with remote teammates, overlaying virtual documents and designs onto the physical workspace. This seamless integration of digital and physical realms revolutionizes productivity and communication.
In the evening, you return home to relax and unwind. Your AI-powered personal assistant suggests a movie based on your preferences and mood, creating a personalized viewing experience. The living room transforms into an immersive theater, with sound and visuals tailored to your preferences, making you feel like you're part of the action.
As you drift off to sleep, your smart sleep monitoring system analyzes your sleep patterns and adjusts the mattress and environment to ensure a restful night's sleep. It gently wakes you up the next morning, completing the cycle of a technologically enhanced and optimized lifestyle.
This vision of the future may seem far-fetched, but with rapid advancements in artificial intelligence, automation, and virtual reality, we are moving closer to a world where technology seamlessly integrates into our lives, improving our well-being and transforming the way we live, work, and play."""

In [ ]:
with open(file="sample_text.txt", mode="wt") as file:
    file.write(text)

In [ ]:
text_lines = text.split("\n")

In [ ]:
text_lines

['Imagine a world where technology seamlessly integrates with everyday life, enhancing our experiences and simplifying our tasks. As you wake up in the morning, your smart home system detects your movement and gradually adjusts the lighting and temperature to gently ease you into the day.',
 'You make your way to the kitchen, where a voice-activated assistant greets you and offers suggestions for a healthy breakfast based on your dietary preferences. With a few simple commands, you instruct the assistant to prepare your favorite smoothie while providing you with the morning news updates.',
 "As you head out for work, your autonomous electric car awaits, fully charged and ready to go. You settle into the comfortable seat, and the vehicle's advanced AI takes over, navigating through traffic and optimizing the route based on real-time data. Meanwhile, you use the car's integrated virtual reality system to catch up on a virtual meeting with colleagues from around the world.",
 'Arriving at the office, you step into a workspace equipped with augmented reality (AR) technology. With a pair of smart glasses, you effortlessly collaborate with remote teammates, overlaying virtual documents and designs onto the physical workspace. This seamless integration of digital and physical realms revolutionizes productivity and communication.',
 "In the evening, you return home to relax and unwind. Your AI-powered personal assistant suggests a movie based on your preferences and mood, creating a personalized viewing experience. The living room transforms into an immersive theater, with sound and visuals tailored to your preferences, making you feel like you're part of the action.",
 "As you drift off to sleep, your smart sleep monitoring system analyzes your sleep patterns and adjusts the mattress and environment to ensure a restful night's sleep. It gently wakes you up the next morning, completing the cycle of a technologically enhanced and optimized lifestyle.",
 'This vision of the future may seem far-fetched, but with rapid advancements in artificial intelligence, automation, and virtual reality, we are moving closer to a world where technology seamlessly integrates into our lives, improving our well-being and transforming the way we live, work, and play.']

In [ ]:
with open(file="sample_text2.txt", mode="wt") as file:
    text_lines_corrected = []
    for text_line in text_lines:
        text_lines_corrected.append(f"{text_line}\n")
    file.writelines(text_lines_corrected)

In [ ]:
text_lines_corrected

['Imagine a world where technology seamlessly integrates with everyday life, enhancing our experiences and simplifying our tasks. As you wake up in the morning, your smart home system detects your movement and gradually adjusts the lighting and temperature to gently ease you into the day.\n',
 'You make your way to the kitchen, where a voice-activated assistant greets you and offers suggestions for a healthy breakfast based on your dietary preferences. With a few simple commands, you instruct the assistant to prepare your favorite smoothie while providing you with the morning news updates.\n',
 "As you head out for work, your autonomous electric car awaits, fully charged and ready to go. You settle into the comfortable seat, and the vehicle's advanced AI takes over, navigating through traffic and optimizing the route based on real-time data. Meanwhile, you use the car's integrated virtual reality system to catch up on a virtual meeting with colleagues from around the world.\n",
 'Arriving at the office, you step into a workspace equipped with augmented reality (AR) technology. With a pair of smart glasses, you effortlessly collaborate with remote teammates, overlaying virtual documents and designs onto the physical workspace. This seamless integration of digital and physical realms revolutionizes productivity and communication.\n',
 "In the evening, you return home to relax and unwind. Your AI-powered personal assistant suggests a movie based on your preferences and mood, creating a personalized viewing experience. The living room transforms into an immersive theater, with sound and visuals tailored to your preferences, making you feel like you're part of the action.\n",
 "As you drift off to sleep, your smart sleep monitoring system analyzes your sleep patterns and adjusts the mattress and environment to ensure a restful night's sleep. It gently wakes you up the next morning, completing the cycle of a technologically enhanced and optimized lifestyle.\n",
 'This vision of the future may seem far-fetched, but with rapid advancements in artificial intelligence, automation, and virtual reality, we are moving closer to a world where technology seamlessly integrates into our lives, improving our well-being and transforming the way we live, work, and play.\n']

In [ ]:
def factorial(n):
    """
    This is the description of the factorial function:
        n! = factorial(n) = 1*2*3*...*n
    """

    result = 1
    for value in range(1, n+1):
        result = result * value
    return result

In [ ]:
factorial()