## Lambda Functions and Their Applications In Python

Lambda Expression Syntax:

lambda arguments: expression

In [ ]:
add = lambda x, y: x + y

In [ ]:
line_string_corrector = lambda line_string: line_string.replace("\n", "")

In [ ]:
x = "Hello, my name is ali sufali \nHow you are doing?\n"

In [ ]:
x

'Hello, my name is ali sufali \nHow you are doing?\n'

In [ ]:
line_string_corrector(x)

'Hello, my name is ali sufali How you are doing?'

### Applications of Lambda Expressions:

In [ ]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(lambda x: x**2, numbers))

squared_numbers

[1, 4, 9, 16, 25]

In [ ]:
x_2 = map(lambda x: x**2, numbers)

In [ ]:
list(x_2)

[1, 4, 9, 16, 25]

In [ ]:
names = ["james", "john", "jane", "harry"]

function = lambda name: f"Hello {name}"

greetings = list(map(function, names))

In [ ]:
greetings

['Hello james', 'Hello john', 'Hello jane', 'Hello harry']

In [ ]:
celsius_temperatures = [25, 30, 15, 10, 20]

fahrenheit_temperatures = list(map(lambda t: 1.8*t + 32, celsius_temperatures))

fahrenheit_temperatures

[77.0, 86.0, 59.0, 50.0, 68.0]

In [ ]:
def convert_celsius_to_fahrenheit(temperature):
    return 1.8*temperature + 32

In [ ]:
fahrenheit_temperatures = []

for celsius_temperature in celsius_temperatures:
    fahrenheit_temperature = convert_celsius_to_fahrenheit(
        temperature=celsius_temperature)
    fahrenheit_temperatures.append(fahrenheit_temperature)

In [ ]:
fahrenheit_temperatures

[77.0, 86.0, 59.0, 50.0, 68.0]

In [ ]:
strings = ["hello", "world", "python"]

string_lengths = list(map(lambda string: len(string), strings))

string_lengths

[5, 5, 6]

In [ ]:
list(map(convert_celsius_to_fahrenheit, celsius_temperatures))

[77.0, 86.0, 59.0, 50.0, 68.0]

In [ ]:
a = convert_celsius_to_fahrenheit

In [ ]:
a(10)

50.0

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

even_numbers

[2, 4, 6, 8, 10]

In [ ]:
def is_even(x):
    return x % 2 == 0

In [ ]:
even_numbers = []

for number in numbers:
    if is_even(number):
        even_numbers.append(number)

In [ ]:
even_numbers

[2, 4, 6, 8, 10]

In [ ]:
numbers = [-3, -2, -1, 0, 1, 2, 3]

non_negative_numbers = list(filter(lambda x: x >= 0, numbers))

non_negative_numbers

[0, 1, 2, 3]

In [ ]:
names = ["Alice", "Bob", "Charlie", "Daniel", "Emily", "Jane", "John"]

filtered_names = list(filter(lambda name: name.startswith("J"), names))

filtered_names

['Jane', 'John']

In [ ]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

sum_of_numbers = reduce(lambda x, y: x + y, numbers)

sum_of_numbers

15

In [ ]:
numbers = [1, 2, 3, 4, 5]

max_of_numbers = reduce(lambda x, y: max(x, y), numbers)

max_of_numbers

5

In [ ]:
numbers = [1, 2, 3, 4, 5]

min_of_numbers = reduce(lambda x, y: min(x, y), numbers)

min_of_numbers

1

In [ ]:
numbers = [2, 3, 4, 5]

product = reduce(lambda x, y: x * y, numbers)

print(product)

120

In [ ]:
product = 1

for number in numbers:
    product = product * number

print(product)

120

In [ ]:
strings = ["Hello", " ", "World", "!"]

concatenated_string = reduce(lambda s1, s2: s1 + s2, strings)

concatenated_string

'Hello World!'

In [ ]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

flattened_list = reduce(lambda x, y: x + y, nested_list)

flattened_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def factorial(n):
    return reduce(lambda x, y: x * y, range(1, n+1))

In [ ]:
factorial(5)

120

In [ ]:
nested_list = [[5, 2, 3], [4, 1, 6], [7, 8, 9]]

flattened_list = sorted(reduce(lambda x, y: x + y, nested_list))

flattened_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def squared(x):
    return x**2

In [ ]:
squared_lambda = lambda x: x**2

In [ ]:
%%timeit

a = list(map(squared, range(100000)))

35.3 ms ± 1.39 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
%%timeit

a = list(map(squared_lambda, range(100000)))

34.8 ms ± 620 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

## Regular Expressions (REGEX)

In [ ]:
import re

In [ ]:
text = "I have an apple and an orange."

pattern = r"apple"

In [ ]:
matched = re.search(pattern, text)

In [ ]:
if matched:
    print("Match found!")
else:
    print("Match not found!")

Match found!

In [ ]:
matched

In [ ]:
matched = re.match(pattern, text)

In [ ]:
if matched:
    print("Match found!")
else:
    print("Match not found!")

Match not found!

In [ ]:
text = "I have an apple and an orange."

pattern = r"I have"

matched = re.match(pattern, text)

print(matched)

<re.Match object; span=(0, 6), match='I have'>

In [ ]:
text = "I have an apple and an orange. apples are tasty"

pattern = r"apple\w*"

matches = re.findall(pattern, text)

In [ ]:
for matched in matches:
    print(f"Match: {matched}")

Match: apple
Match: apples

In [ ]:
text = "I have an apple and an orange. apples are tasty"

pattern = r"apple\w*"

matches = re.finditer(pattern, text)

for matched in matches:
    print(matched)

<re.Match object; span=(10, 15), match='apple'>
<re.Match object; span=(31, 37), match='apples'>

In [ ]:
text = "I have an apple and an orange. apples are tasty."

pattern = r"apple"

print(len(re.findall(pattern, text)))

print(re.search(pattern, text))

2
<re.Match object; span=(10, 15), match='apple'>

In [ ]:
text = "I have an apple and an orange. apples are tasty. also pineapples"

pattern = r"\w*apple\w*"

new_text = re.sub(pattern, "banana", text)

In [ ]:
new_text

'I have an banana and an orange. banana are tasty. also banana'

In [ ]:
text = "I have an apple and     an orange. apples are tasty \t also pineapples"

pattern = r"\s+"

words = re.split(pattern, text)

for word in words:
    print(word)

I
have
an
apple
and
an
orange.
apples
are
tasty
also
pineapples

In [ ]:
words

['I',
 'have',
 'an',
 'apple',
 'and',
 'an',
 'orange.',
 'apples',
 'are',
 'tasty',
 'also',
 'pineapples']

## Date And Time In Python

In [ ]:
import datetime

import pytz

In [ ]:
datetime.MINYEAR

1

In [ ]:
datetime.MAXYEAR

9999

In [ ]:
current_date = datetime.date.today()

current_date

datetime.date(2023, 7, 2)

In [ ]:
current_date_string = current_date.strftime("%Y-%m-%d is a %a in %b")

print(current_date_string)

2023-07-02 is a Sun in Jul

In [ ]:
current_datetime = datetime.datetime.now()

In [ ]:
current_time = current_datetime.time()

In [ ]:
current_time

datetime.time(18, 25, 1, 195000)

In [ ]:
current_date = current_datetime.date()

In [ ]:
current_date

datetime.date(2023, 7, 2)

In [ ]:
date_string = "2023-July-25"

parsed_date = datetime.datetime.strptime(date_string, "%Y-%B-%d")

In [ ]:
parsed_date.strftime("%Y %m %d")

'2023 07 25'

In [ ]:
custom_date = datetime.date(2023, 7, 1)
custom_time = datetime.time(12, 30, )

In [ ]:
timezone = pytz.timezone("Asia/Tehran")

In [ ]:
custom_time = datetime.time(12, 30, tzinfo=timezone)

In [ ]:
custom_time

datetime.time(12, 30, tzinfo=<DstTzInfo 'Asia/Tehran' LMT+3:26:00 STD>)

In [ ]:
custom_datetime = datetime.datetime(2023, 7, 1, 12, 30, tzinfo=timezone)

In [ ]:
custom_datetime.utctimetuple()

time.struct_time(tm_year=2023, tm_mon=7, tm_mday=1, tm_hour=9, tm_min=4, tm_sec=0, tm_wday=5, tm_yday=182, tm_isdst=0)