In [ ]:
class Employee:

    def __init__(self, name, age, years_of_experience, role):
        self.name = name
        self.age = age
        self.years_of_experience = years_of_experience
        self.role = role

    def calculate_salary(self):
        if self.role == "boss":
            salary_base_level = 8000
            salary_yearly_increment = 1500
        else:
            salary_base_level = 3000
            salary_yearly_increment = 500
        salary = salary_base_level + self.years_of_experience * salary_yearly_increment
        return salary

In [ ]:
employee_1 = Employee(name="ali", age=27, years_of_experience=3, role="normal")
employee_2 = Employee(name="hassan", age=36, years_of_experience=13, role="boss")

In [ ]:
print(employee_1.name)
print(employee_1.age)
print(employee_1.years_of_experience)
print(employee_1.role)

salary = employee_1.calculate_salary()
print(salary)

ali
27
3
normal
4500

In [ ]:
print(employee_2.name)
print(employee_2.age)
print(employee_2.years_of_experience)
print(employee_2.role)

salary = employee_2.calculate_salary()
print(salary)

hassan
36
13
boss
27500

In [ ]:
all_employees = [
    Employee(name="ali", age=27, years_of_experience=3, role="normal"),
    Employee(name="hassan", age=36, years_of_experience=13, role="boss")
]

In [ ]:
for employee in all_employees:
    salary = employee.calculate_salary()
    print(employee.name, employee.age, employee.years_of_experience, employee.role, salary)

ali 27 3 normal 4500
hassan 36 13 boss 27500

In [ ]:
class Dog:
    pass

In [ ]:
my_dog = Dog()

In [ ]:
isinstance(my_dog, Dog)

True

In [ ]:
isinstance(1, int)

True

In [ ]:
class Dog:

    def __init__(self, breed):
        self.breed = breed

    def bark(self):
        print("woof")

    def get_breed(self):
        return self.breed

In [ ]:
my_dog = Dog(breed="german")

In [ ]:
my_dog.bark()

woof

In [ ]:
my_dog.breed

'german'

In [ ]:
my_dog.get_breed()

'german'

In [ ]:
Dog.get_breed(self=my_dog)

'german'

In [ ]:
class Dog:

    def __init__(self, breed):
        self.breed = breed

    def bark(self):
        print("woof")

    def get_breed(self):
        return self.breed

In [ ]:
class GermanDog(Dog):

    def __init__(self):
        super().__init__(breed="german")

In [ ]:
dog = GermanDog()

In [ ]:
dog.bark()

woof

In [ ]:
dog.get_breed()

'german'

In [ ]:
isinstance(dog, GermanDog)

True

In [ ]:
isinstance(dog, Dog)

True

In [ ]:
class WeirdDog(Dog):

    def __init__(self):
        super().__init__(breed="weird")

    def bark(self):
        print("woof woof")
        super().bark()

In [ ]:
dog_2 = WeirdDog()

dog_2.bark()

dog_2.get_breed()

woof woof
woof

'weird'

In [ ]:
class Dog:

    def __init__(self, breed):
        self._breed = breed

    def bark(self):
        print("woof")

    def get_breed(self):
        return self._breed

In [ ]:
dog = Dog(breed="something")

In [ ]:
dog._breed

'something'

In [ ]:
class Employee:

    def __init__(self, name, age, yoe, role):
        self.name = name
        self.age = age
        self.yoe = yoe
        self.role = role

    def __get_salary_base_level_and_increment(self):
        if self.role == "boss":
            salary_base_level = 8000
            salary_yearly_increment = 1500
        else:
            salary_base_level = 3000
            salary_yearly_increment = 500
        return salary_base_level, salary_yearly_increment

    def __calculate_net_salary(self, salary_base_level, salary_yearly_increment):
        gross_salary = salary_base_level + self.yoe * salary_yearly_increment
        salary = 0.7 * gross_salary
        return salary

    def calculate_salary(self):
        salary_base_level, salary_yearly_increment = self.__get_salary_base_level_and_increment()
        salary = self.__calculate_net_salary(salary_base_level=salary_base_level,
                                             salary_yearly_increment=salary_yearly_increment)
        return salary

In [ ]:
emp = Employee(name="ali", age=27, yoe=3, role="normal")

In [ ]:
class Dog:

    def __init__(self, name, breed):
        self.name = name
        self.breed = breed

    def bark(self):
        print("woof")

    def jump(self):
        print(f"The {self.name} has jumped")

In [ ]:
class Person:

    def __init__(self, name, dog):
        self.name = name
        self.dog = dog

    def say_the_dog_to_jump(self):
        self.dog.jump()

In [ ]:
dog = Dog(name="puppy", breed="german")

In [ ]:
person = Person(name="james", dog=dog)

In [ ]:
person.name

'james'

In [ ]:
person.dog.name

'puppy'

In [ ]:
person.dog.breed

'german'

In [ ]:
person.dog.bark()

woof

In [ ]:
person.say_the_dog_to_jump()

The puppy has jumped

In [ ]:
class Device:

    def __init__(self, name):
        self.name = name

    def power_on(self):
        print(f"The device: {self.name} has been turned on.")

    def power_off(self):
        print(f"The device: {self.name} has been turned off.")

In [ ]:
class Laptop(Device):

    def __init__(self):
        super().__init__(name="Laptop")

class SmartPhone(Device):

    def __init__(self):
        super().__init__(name="SmartPhone")

In [ ]:
mobile = SmartPhone()

laptop = Laptop()

In [ ]:
mobile.power_on()
mobile.power_off()

The device: SmartPhone has been turned on.
The device: SmartPhone has been turned off.

In [ ]:
def calculate_sum(a, b, *others, **keyothers):
    summation = a + b
    for other in others:
        summation += other
    for keyother in keyothers.values():
        summation += keyother
    return summation

In [ ]:
calculate_sum(1, 2, 3, 4, c=10)

20

In [ ]:
calculate_sum(1, 2, 8, 10, 12)

33

In [ ]:
calculate_sum(5, 6, "5")

TypeError: ignored

In [ ]:
try:
    calculate_sum(5, 6, "5")
except:
    print("An exception has been occured")

An exception has been occured

In [ ]:
try:
    calculate_sum(5, 6, "5")
except Exception:
    print("The general Exception has been handled")
except KeyError:
    print("A KeyError exception has been occured")
except TypeError as error:
    print("A TypeError exception has been occured")
    print(error)
except ValueError:
    print("A ValueError exception has been occured")
else:
    print("No exception has been occured")
finally:
    print("No matter it will be called")

The general Exception has been handled
No matter it will be called

In [ ]:
calculate_sum(5, 6, 10, 12)

33

In [ ]:
try:
    calculate_sum(5, 6, 10, 12)
except KeyError:
    print("A KeyError exception has been occured")
except TypeError as error:
    print("A TypeError exception has been occured")
    print(error)
except ValueError:
    print("A ValueError exception has been occured")
else:
    print("No exception has been occured")
finally:
    print("No matter it will be called")

No exception has been occured
No matter it will be called

In [ ]:
try:
    db_connection = connect_to_db()
except DBConnectionError as error:
    print(error)
else:
    data = get_data(db_connection)
finally:
    print("The operation has been finished")

In [ ]:
d = {"name": "ali"}

In [ ]:
d["name"]

'ali'

In [ ]:
default_age = 27

name = d["name"]
try:
    age = d["age"]
except KeyError as error:
    age = default_age

In [ ]:
age

27

In [ ]:
class DBConnectionError(Exception):

    def __init__(self, db_username, db_password):
        self.db_username = db_username
        self.db_password = db_password
        message = f"The connection to the DB with following attributes has been come into problem: Username: {db_username}, Password {db_password}"
        self.message = message
        super().__init__(message)

In [ ]:
db_connection_error = DBConnectionError(db_username="admin", db_password="admin")

In [ ]:
db_connection_error.db_username

'admin'

In [ ]:
db_connection_error.db_password

'admin'

In [ ]:
db_connection_error.message

'The connection to the DB with following attributes has been come into problem: Username: admin, Password admin'

In [ ]:
print(db_connection_error)

The connection to the DB with following attributes has been come into problem: Username: admin, Password admin

In [ ]:
def connect_to_db(db_username, db_password):
    if db_username != "admin":
        raise DBConnectionError(db_username=db_username, db_password=db_password)
    else:
        return True

In [ ]:
connect_to_db("ali", "123")

DBConnectionError: ignored

In [ ]:
connect_to_db("admin", "admin")

True

In [ ]:
d

{'name': 'ali'}

In [ ]:
default_age = 27

name = d["name"]
try:
    if "age" not in d.keys():
        raise KeyError("The age key is not in the d dictionary.")
except KeyError as error:
    age = default_age
    print(error)

'The age key is not in the d dictionary.'

In [ ]:
age

27